.box-clock {
    align-self: center;
    background: var(--light-gray);
    border-radius: 30px;
    box-shadow: 20px 20px 40px var(--shadow-color), 
                -20px -20px 40px var(--light-color);
}
.digital-clock {
    margin: 8px;
    padding: 0.5rem 3rem;
    border: #a8a8a8 solid 2px;
    border-radius: 25px;
    background: linear-gradient(145deg, #cbd3c5, #afbca2);
}

.clock-field {
    display: flex;
    justify-content: space-between;

}
.clock-field div {
    display: inline-block;
    position: relative;
}
.clock-field div p {
    color: #333631;
    font-size: 90px;
    margin: 0;
    position: relative;
    z-index: 2;
}
.clock-field .numbers .placeholder {
    color: #adb7a4;
    position: absolute;
    top: 0;
    z-index: 1;
}

.clock-field .numbers .type {
    font-size: 15px;
    color: #333631;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}