.outer-circle {
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 230px;
    border-radius: 50%; 
    border: var(--light-gray) solid 10px;
    overflow: hidden;
    box-shadow: 10px 10px 30px var(--shadow-color),
                -10px -10px 25px var(--light-color),
                inset 10px 10px 15px rgba(0, 0, 0, 0.1),
                inset -10px -10px 15px rgba(255, 255, 255, 0.5);
}

.outer-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    filter: blur(30px);
    z-index: -1;
}

@keyframes animate {
    0% { 
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg);
    }
}

.middle-circle {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: var(--light-gray) solid 10px;
    background: var(--light-gray);
    box-shadow: 10px 10px 415px rgba(0, 0, 0, 0.1), 
                -10px -10px 15px rgba(255, 255, 255, 0.5),
                inset 20px 20px 40px var(--shadow-color),
                inset -15px -15px 35px var(--light-color);
}

.inner-circle {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    border: transparent solid 5px;
    cursor: pointer;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #e6f8de;
    box-shadow: 20px 20px 40px var(--shadow-color), 
                -15px -15px 35px var(--light-color);
    transition: 0.3s ease-out;
}
.inner-circle:hover {
    box-shadow: 5px 5px 15px var(--shadow-color),
                -5px -5px 15px var(--light-color);
}
.play-button {
    width: 60px;
    height: 60px;
}

.reset-button {
    align-self: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #808080;
    padding: 0.8em 2em;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background: var(--light-gray);
    box-shadow: 20px 20px 40px var(--shadow-color),
                -10px -10px 25px var(--light-color);
}

.reset-button:hover {
    box-shadow: 5px 5px 15px var(--shadow-color),
                -5px -5px 15px var(--light-color);
}
.reset-button:active {
    box-shadow: inset 3px 3px 10px var(--shadow-color),
                inset -3px -3px 10px var(--light-color);
}