.box-clock {
    align-self: center;
    background: var(--light-gray);
    border-radius: 30px;
    border: 2px solid #333;
    box-shadow: 20px 20px 40px var(--shadow-color), -20px -20px 40px var(--light-color);
}

.digital-clock {
    margin: 8px;
    padding: 0.5rem 3rem;
    border: #111111 solid 2px;
    border-radius: 25px;
    background: linear-gradient(145deg, #1a1a1a, #111111);
}

.clock-field {
    display: flex;
    justify-content: space-between;
}

.clock-field div {
    display: inline-block;
    position: relative;
}

.clock-field div p {
    color: #FF5C15;
    font-size: 90px;
    margin: 0;
    position: relative;
    z-index: 2;
}

.clock-field .numbers .placeholder {
    color: #4d1700;
    position: absolute;
    top: 0;
    z-index: 1;
}

.clock-field .numbers .type {
    font-size: 15px;
    color: #FF5C15;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}